In [140]:
import pandas as pd
from scipy.io import loadmat
import numpy as np
import os

In [141]:
data_set = pd.read_csv('/Users/madsandersen/PycharmProjects/BscProjektData/BachelorProject/Data/VitusData/EL_data_filtered.csv')

In [4]:
data_set

,name,series,panel_id,row,col,width,height,GS_mean
0,Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_1,1,10_4081,10,1,323,323,0.494703
1,Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_2,1,10_4081,10,2,324,323,0.426713
2,Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_3,1,10_4081,10,3,325,323,0.535716
3,Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_4,1,10_4081,10,4,324,323,0.476981
4,Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_5,1,10_4081,10,5,323,323,0.468487
...,...,...,...,...,...,...,...,...
36056,Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_2,6,9_4283,9,2,302,300,0.415072
36057,Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_3,6,9_4283,9,3,302,300,0.550505
36058,Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_4,6,9_4283,9,4,302,300,0.638767
36059,Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_5,6,9_4283,9,5,303,300,0.523925
36060,Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_6,6,9_4283,9,6,294,300,0.507093

In [6]:
m_name = 'GT_Serie_1_Image_-1_4085_Cell_Row2_Col_2.mat'

In [142]:
def mat_2_image_name(m_name):
    serie = m_name.split('-')[0][3:-7]
    panel_id = m_name.split('-')[1][:-4]
    base_name = 'ImageCorr'
    full_name = f'{serie}_{base_name}_-{panel_id}'
    return full_name

In [16]:
mat_2_image_name('GT_Serie_1_Image_-10_4081_Cell_Row8_Col_3.mat')

'Serie_1_ImageCorr_-10_4081_Cell_Row8_Col_3'

In [19]:
data_set[data_set['name'] == mat_2_image_name('GT_Serie_1_Image_-10_4081_Cell_Row8_Col_3.mat')]

,name,series,panel_id,row,col,width,height,GS_mean
50,Serie_1_ImageCorr_-10_4081_Cell_Row8_Col_3,1,10_4081,8,3,325,322,0.514812

In [143]:
data_set['mask_names'] = np.empty((len(data_set), 0)).tolist()
data_set['labels'] = np.empty((len(data_set), 0)).tolist()

In [144]:
serier = os.listdir('/Users/madsandersen/PycharmProjects/BscProjektData/BachelorProject/Data/VitusData/Serier')[1:]

In [145]:
not_in = []
base_dir = '/Users/madsandersen/PycharmProjects/BscProjektData/BachelorProject/Data/VitusData/Serier/'
for serie in serier:
    dirs = os.listdir('/Users/madsandersen/PycharmProjects/BscProjektData/BachelorProject/Data/VitusData/Serier/'+serie+'/MaskGT')
    for mask_name in dirs:
        try:
            data_set[data_set['name'] == mat_2_image_name(mask_name)]['mask_names'].values[0] += [mask_name]
            tm = loadmat(f'{base_dir}{serie}/MaskGT/{mask_name}')
            label = tm['GTLabel']
            data_set[data_set['name'] == mat_2_image_name(mask_name)]['labels'].values[0] += [label]
        except:
            not_in.append(mask_name)

In [146]:
len(not_in)

9

In [147]:
data_set['mask_names'] = data_set['mask_names'].apply(lambda x: x if len(x)>0 else None)

In [148]:
data_set['labels'] = data_set['labels'].apply(lambda x: x if len(x)>0 else None)

In [149]:
data_set['labels'] = data_set['labels'].apply(lambda x: np.array(x).flatten() if x is not None else None)

In [150]:
print(data_set)

                                               name  series panel_id  row  \
0       Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_1       1  10_4081   10
1       Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_2       1  10_4081   10
2       Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_3       1  10_4081   10
3       Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_4       1  10_4081   10
4       Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_5       1  10_4081   10
...                                             ...     ...      ...  ...
36056  Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_2       6   9_4283    9
36057  Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_3       6   9_4283    9
36058  Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_4       6   9_4283    9
36059  Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_5       6   9_4283    9
36060  Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_6       6   9_4283    9

       col  width  height   GS_mean  \
0        1    323     323  0.494703
1        2    324     323  0.426713
2        3    325     323  0.535716
3        4    324     323  0.476981
4        5    323     323  0.468487
...    ...    ...     ...       ...
36056    2    302     300  0.415072
36057    3    302     300  0.550505
36058    4    302     300  0.638767
36059    5    303     300  0.523925
36060    6    294     300  0.507093

                                             mask_names              labels
0                                                  None                None
1      [GT_Serie_1_Image_-10_4081_Cell_Row10_Col_2.mat]  [[Finger Failure]]
2                                                  None                None
3      [GT_Serie_1_Image_-10_4081_Cell_Row10_Col_4.mat]  [[Finger Failure]]
4                                                  None                None
...                                                 ...                 ...
36056                                              None                None
36057                                              None                None
36058                                              None                None
36059                                              None                None
36060                                              None                None

[36061 rows x 10 columns]

In [152]:
print(data_set[data_set['labels'].notnull()])

                                               name  series panel_id  row  \
1       Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_2       1  10_4081   10
3       Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_4       1  10_4081   10
6        Serie_1_ImageCorr_-10_4081_Cell_Row1_Col_1       1  10_4081    1
7        Serie_1_ImageCorr_-10_4081_Cell_Row1_Col_2       1  10_4081    1
17       Serie_1_ImageCorr_-10_4081_Cell_Row2_Col_6       1  10_4081    2
...                                             ...     ...      ...  ...
35854  Serie_6_ImageCorr_-9_4243_PC_Cell_Row5_Col_4       6   9_4243    5
35858  Serie_6_ImageCorr_-9_4243_PC_Cell_Row6_Col_2       6   9_4243    6
35864  Serie_6_ImageCorr_-9_4243_PC_Cell_Row7_Col_2       6   9_4243    7
35900  Serie_6_ImageCorr_-9_4254_PC_Cell_Row3_Col_2       6   9_4254    3
35906  Serie_6_ImageCorr_-9_4254_PC_Cell_Row4_Col_2       6   9_4254    4

       col  width  height   GS_mean  \
1        2    324     323  0.426713
3        4    324     323  0.476981
6        1    323     323  0.441961
7        2    324     323  0.437049
17       6    323     324  0.450674
...    ...    ...     ...       ...
35854    4    302     300  0.542705
35858    2    302     302  0.431700
35864    2    302     300  0.587060
35900    2    303     301  0.450687
35906    2    303     302  0.393475

                                              mask_names  \
1       [GT_Serie_1_Image_-10_4081_Cell_Row10_Col_2.mat]
3       [GT_Serie_1_Image_-10_4081_Cell_Row10_Col_4.mat]
6        [GT_Serie_1_Image_-10_4081_Cell_Row1_Col_1.mat]
7        [GT_Serie_1_Image_-10_4081_Cell_Row1_Col_2.mat]
17       [GT_Serie_1_Image_-10_4081_Cell_Row2_Col_6.mat]
...                                                  ...
35854  [GT_Serie_6_Image_-9_4243_PC_Cell_Row5_Col_4.mat]
35858  [GT_Serie_6_Image_-9_4243_PC_Cell_Row6_Col_2.mat]
35864  [GT_Serie_6_Image_-9_4243_PC_Cell_Row7_Col_2.mat]
35900  [GT_Serie_6_Image_-9_4254_PC_Cell_Row3_Col_2.mat]
35906  [GT_Serie_6_Image_-9_4254_PC_Cell_Row4_Col_2.mat]

                                     labels
1                        [[Finger Failure]]
3                        [[Finger Failure]]
6      [[Finger Failure], [Finger Failure]]
7                        [[Finger Failure]]
17     [[Finger Failure], [Finger Failure]]
...                                     ...
35854                           [[Crack B]]
35858                           [[Crack C]]
35864                           [[Crack C]]
35900                           [[Crack A]]
35906                           [[Crack A]]

[1432 rows x 10 columns]

In [153]:
data_set

,name,series,panel_id,row,col,width,height,GS_mean,mask_names,labels
0,Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_1,1,10_4081,10,1,323,323,0.494703,None,None
1,Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_2,1,10_4081,10,2,324,323,0.426713,[GT_Serie_1_Image_-10_4081_Cell_Row10_Col_2.mat],[[Finger Failure]]
2,Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_3,1,10_4081,10,3,325,323,0.535716,None,None
3,Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_4,1,10_4081,10,4,324,323,0.476981,[GT_Serie_1_Image_-10_4081_Cell_Row10_Col_4.mat],[[Finger Failure]]
4,Serie_1_ImageCorr_-10_4081_Cell_Row10_Col_5,1,10_4081,10,5,323,323,0.468487,None,None
...,...,...,...,...,...,...,...,...,...,...
36056,Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_2,6,9_4283,9,2,302,300,0.415072,None,None
36057,Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_3,6,9_4283,9,3,302,300,0.550505,None,None
36058,Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_4,6,9_4283,9,4,302,300,0.638767,None,None
36059,Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_5,6,9_4283,9,5,303,300,0.523925,None,None
36060,Serie_6_ImageCorr_-9_4283_PC_Cell_Row9_Col_6,6,9_4283,9,6,294,300,0.507093,None,None

In [137]:
a.flatten()

array(['Finger Failure', 'Finger Failure'], dtype='<U14')